<% if notice %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<div class="d-flex justify-content-between align-items-center">
  <h2>Filmes</h2>
  <%= link_to "+ Novo", new_movie_path, class: "btn btn-primary" %>
</div>

<table id="movies" class="table table-sm table-hover">
  <thead>
    <tr>
      <th>Título</th>
      <th>Diretor</th>
      <th>Gênero</th>
      <th>Estreia</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <%= render movie %>
    <% end %>
  </tbody>
</table>
