<% if notice %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<div class="d-flex justify-content-between align-items-center mb-4">
  <h2>Diretores</h2>
  <%= link_to "+ Novo", new_director_path, class: "btn btn-primary" %>
</div>

<table id="directors" class="table table-sm table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Criado em</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @directors.each do |director| %>
      <%= render director %>
    <% end %>
  </tbody>
</table>
